<div class="container" role="main">
      <div class="blog-header">
        <h1 class="blog-title">There are no posts with the tag <%= @tag %> yet. </h1>
        <p class="lead blog-description">Why don't you write the first? </p>
      </div>