    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/home">
                  <span data-feather="home"></span>
                  Home<span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/new">
                  <span data-feather="file"></span>
                  New Post
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/edit_profile">
                  <span data-feather="layers"></span>
                  Edit Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">
                  <span data-feather="users"></span>
                  View Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/delete">
                  <span data-feather="file"></span>
                  Delete Account
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><%= @user.username %>'s Dashboard</h1>
          </div>
          <div>
          <% posts = Post.where(user_id: @user.id)%>
          <% posts.each do |post| %>
          <p><%= post.content %></p>
          <p class="blog-post-meta"> <%= post.updated_at %></p>
          <h4><a class="edit_post" href="/edit_post/<%= post.id %>">Edit This Post</a></h4>
          <% end %>
          </div> 
        </main> 
      </div>
    </div>
